.side-navbar {
  width: 250px; /* Width of the sidebar */
  height: 100%;
  background-color: #f8f9fa; /* Light gray background */
  border-right: 1px solid #dee2e6; /* Add a border to the right side of the sidebar */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Add a subtle shadow to the sidebar */
}

.side-navbar .navbar-brand {
  font-size: 24px;
  margin-bottom: 20px;
}

.side-navbar span {
  display: block;
  margin: 10px 0;
  font-weight: 500;
}

.side-navbar a {
  display: block;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}

.side-navbar a:hover {
  background-color: #e9ecef; /* Change color on hover */
  text-decoration: none;
}

.side-navbar button {
  display: block;
  width: 100%;
  margin-top: 20px;
}
